*.swo
*.swp
*~
\#*#

# exclude everything in root except files and directories from sonicde-void
/*
!/.editorconfig
!/.gitattributes
!/.github
!/.gitignore
!/.mailmap
!/CONTRIBUTING.md
!/COPYING
!/Manual.md
!/README.md
!/archived
!/common
!/etc
!/srcpkgs
!/xbps-src
!/docs
!/repo-keys
!/99-repository-soncide.conf
etc/conf
etc/conf.*
etc/virtual
etc/xbps.d/custom
etc/repo-keys
srcpkgs/*.skip
